<main>
    <h2 class="welcome__message">User succesfully changed role </h2>
    <h2 class="welcome__message">Logout and enter to see the change </h2>
    <div class="welcome__navbar">
      <li class="welcome__navbar--li"><a href="/logout">Logout</a></li>
    
    </div>
</main>